.topheader{
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
}

.container {
    text-align: center;
    margin-top: 100px;
  } 
.topmid{
  font-size: 40px;
  margin: 41px;
}
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 2px dotted rebeccapurple;
  } 
  
  .midinfo{
    border: 2px solid black;
    width: 600px;
    height: 450px;
    margin-left: 34%;
    background: #0d576f;
  }

  
  #button {
    font-size: 15px;
    width: 155px;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
   .btn2{
     margin-left: 85px
   }
  
  #button:hover {
    color: white;
    background-color: lightseagreen;
  }
  .botton-btn{
    margin-left: 740px;
    margin-top: -72px;
  }
  

  .input-text{
    margin-top: 100px;
  }
.item{
  display: flex;
  /* padding-right: 22px; */
  justify-content: space-evenly;
  margin-top: 15%;
}


/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
    
}

/* Styles for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
  .container{
    font-size: 1rem;
  }
}
