.topheader{
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}

.container {
    text-align: center;
    margin-top: 100px;
  } 

  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 18px;
  } 
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -26px;
  }
  .midinfo{
    border: 2px solid black;
    width: 600px;
    height: 450px;
    margin-left: 34%;
  }
  .bottom-btn{
    text-align: center;
    margin-top: -26px;
  }

  .input-text{
    margin-top: 22px;
  }
  